<div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <!-- <img src="ruta/a/imagen.jpg" class="card-img-top" alt="Imagen de perfil"> -->
           <div class="inicial">{{inicialUser}}</div>
          <div class="card-body">
            <h5 class="card-title">{{nombre}} {{apellido}}</h5>
            <a href="#" class="btn btn-primary">Editar Perfil</a>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <h3>Información Adicional</h3>
        <ul class="list-group">
          <li class="list-group-item">Correo electrónico: {{email}}</li>
          <!-- Agrega más información según sea necesario -->
        </ul>
      </div>
    </div>
  </div>
  