.header{
    background-color: var(--primary); /* variable global */
    background-image: url('/assets/img/header.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
}