
    <section class="mt-5 pt-5 ms-5 me-5">
        <app-header textHeader='
            <h1>Bienvenido al Portal Administrador</h1>
        '/>
    </section>
  <div class="container-fluid">

    <div class="row mt-4">
      <!-- Contenido principal -->
      <div class="col-md-12">
        <div class="card border-0">
          <!-- Perfil Usuario -->
          <section class="container mb-4">
            <h2>Tu Perfil</h2>
            <div *ngIf="!editarPerfil">
              <div class="row text-center">
                <p class="col-lg-4">Nombre: <strong>{{ nombreCompletoUsuario }}</strong></p>
                <p class="col-lg-4">Correo: <strong>{{ emailUsuario }}</strong></p>
                <p class="col-lg-4">Teléfono: <strong>{{ telefonoUsuario }}</strong></p>
              </div>
              <button class="btn btn-link" (click)="toggleEditarPerfil()">Editar Perfil</button>
            </div>
            
            <div *ngIf="editarPerfil">
              <form [formGroup]="perfilForm" (ngSubmit)="guardarPerfil()">
                <div class="row text-center">
                  <div class="col-lg-3">
                    <label for="nombre">Nombre:</label>
                    <input id="nombre" formControlName="nombre" class="form-control" />
                  </div>
                  <div class="col-lg-3">
                    <label for="apellido">Apellido:</label>
                    <input id="apellido" formControlName="apellido" class="form-control" />
                  </div>
                  <div class="col-lg-3">
                    <label for="email">Correo:</label>
                    <input id="email" formControlName="email" class="form-control" />
                  </div>
                  <div class="col-lg-3">
                    <label for="telefono">Teléfono:</label>
                    <input id="telefono" formControlName="telefono" class="form-control" />
                  </div>
                </div>
                <div class="mt-3 d-flex gap-4 justify-content-center">
                  <button type="submit" class="btn btn-primary w-25" [disabled]="perfilForm.invalid">Guardar</button>
                  <button type="button" class="btn btn-secondary w-25" (click)="cancelarEdicion()">Cancelar</button>
                </div>
              </form>
            </div>
              
          </section>
          <div class="card-body">
            <div class="row justify-content-center gap-5">
              <div class="col-md-4">
                <div class="card text-white mb-3" id="card">
                  <div class="card-header">Órdenes de servicio</div>
                  <div class="card-body">
                    <h5 class="card-title">Gestiona las órdenes de servicio</h5>
                    <p class="card-text">Ver, crear, editar y eliminar órdenes de servicio en el taller.</p>
                    <a href="#" class="btn btn-light">Ir a Órdenes</a>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card text-white mb-3" id="card">
                  <div class="card-header">Gestión de usuarios</div>
                  <div class="card-body">
                    <h5 class="card-title">Gestiona los usuarios del taller</h5>
                    <p class="card-text">Crear, modificar y eliminar usuarios que gestionan el taller.</p>
                    <a href="#" class="btn btn-light">Ir a Usuarios</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
