<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoPro - Nosotros</title>
</head>
<body class="d-flex flex-column min-vh-100">

    <section class="flex-grow-1 mt-5 pt-5 ms-5 me-5">
        
        <app-header textHeader=
            '
                <h1>Acerca de Nosotros</h1>
                <p>Somos AutoPro</p>
            '
        />

        <div class="container mt-3">
            <div class="row">
                <div class="col-lg-6">
                    <img src="../assets/img/taller.webp" alt="Nosotros" class="img-fluid">
                </div>
                <div class="col-lg-6">
                    <h2>¿Quiénes somos?</h2>
                    <p>Somos una empresa dedicada a la reparación y mantenimiento de vehículos. Contamos con un equipo de profesionales altamente capacitados y con años de experiencia en el sector.</p>
                    <h2>Nuestra Misión</h2>
                    <p>Brindar un servicio de calidad y confianza a nuestros clientes, garantizando la satisfacción de sus necesidades y la seguridad de sus vehículos.</p>
                    <h2>Nuestra Visión</h2>
                    <p>Ser reconocidos como el taller de reparación y mantenimiento de vehículos líder en el mercado, por la calidad de nuestros servicios y la excelencia de nuestro equipo de trabajo.</p>
                </div>
            </div>
        </div>
        
    </section>

</body>
</html>