:root{
    --primary: #12274b;
    --secondary: #f8f9fa;
    --tertiary: #f8f9fa;
    --quaternary: #f8f9fa;
    --quinary: #f8f9fa;
    --senary: #f8f9fa;
    --septenary: #f8f9fa;
    --octonary: #f8f9fa;
    --nonary: #f8f9fa;
    --denary: #f8f9fa;
}