<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="../assets/js/login.js" defer></script>
    <title>AutoPro - Login</title>
</head>
<body>

    <app-nav />
    
    <section class="mt-5 pt-5 ms-5 me-5">
        <app-header textHeader=
            '
                <h1>Ingresa a nuestro portal</h1>
                <p>Estamos para atenderte</p>    
            '
        />
        
        <main class="d-flex align-items-center justify-content-center mt-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4">
                        <div class="card shadow">
                            <div class="card-body" id="inicio-login">
                                <h3 class="text-center mb-4">{{dinamicTitleCardLogin()}}</h3>

                                <!-- Inicio de sesión Cliente -->
                                <button *ngIf="!showLoginClientForm && !showLoginEmployeeForm && !showCreateAccountForm" class="btn btn-primary w-100 mb-3" (click)="toggleLoginClientForm()">
                                    ¿Eres Cliente?
                                </button>
                                <div *ngIf="showLoginClientForm">
                                    <app-login-form 
                                        tipoLista = 'clientes'
                                    />

                                    <p class="w-100 text-center">¿No tienes una cuenta? 
                                        <button class="btn bg-transparent text-primary ps-0 btn-link" (click)="toggleCreateAccount()">Regístrate</button>
                                    </p>                                    

                                    <button class="btn btn-primary w-100" (click)="toggleLoginClientForm()">
                                        Volver
                                    </button>
                                </div>
                                <div *ngIf="showCreateAccountForm">
                                    <app-registro-cliente/>
                                    <button class="btn btn-primary w-100" (click)="toggleReturnLoginClientForm()">
                                        Volver
                                    </button>
                                </div>
                                
                            <!-- Inicio de sesión Colaborador --> 
                                <button *ngIf="!showLoginClientForm && !showLoginEmployeeForm && !showCreateAccountForm" class="btn btn-primary w-100 mb-3" (click)="toggleLoginEmployeeForm()">
                                    ¿Eres Colaborador?
                                </button>
                                <div *ngIf="showLoginEmployeeForm">
                                    <p>
                                        <app-login-form 
                                        tipoLista = 'colaboradores'
                                        />
                                    </p>
                                    <button class="btn btn-primary w-100" (click)="toggleLoginEmployeeForm()">
                                        Volver
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </section>

    <app-footer />

</body>
</html>