<!doctype html>
<html lang="en">
    <head>
        <title>AutoPro - index</title>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light transparent fixed-top">
            <a class="navbar-brand" href="../index.html">
                <img src="assets/img/logo.webp" alt="Logo" width="120" height="75">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav ml-auto d-flex flex-row justify-content-center">
                    <li class="nav-item"><a class="nav-link" routerLink="/home">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/about">Sobre Nosotros</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/services">Servicios</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/contact">Contacto</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/login">Iniciar Sesión</a></li>
                </ul>
            </div>
        </nav>

        <section class="ms-5 me-5">

            <app-header 
                textHeader='
                    <h1>Bienvenido a Nuestro Sitio</h1>
                    <p>Ofrecemos los mejores servicios para ti.</p>
                '
            />

            <div class="container">
                <div class="row">
                    <section class="col-lg-8 my-5">
                        <!-- Contenido principal aquí -->
                            <article>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, ab. Nihil quia modi voluptatum fugiat expedita in mollitia minima earum. At quam aperiam architecto quidem laboriosam. Dolorem quae repellat eos.</p>
                            </article>
                            <br/>
                        <article>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, ab. Nihil quia modi voluptatum fugiat expedita in mollitia minima earum. At quam aperiam architecto quidem laboriosam. Dolorem quae repellat eos.</p>
                        </article>
                    </section>
        
                    <br/>
        
                    <aside class="col-lg-4 bg-light p-3">
                        <h2>¿Por qué elegirnos?</h2>
                        <p>Te ofrecemos los mejores servicios para tu vehículo.</p>
                    </aside>
                    
                </div>
            </div>
        </section>


        

        <footer class="bg-dark text-white text-center py-3 fixed-bottom">
            <p class="mb-0">&copy; 2024 Nombre del Sitio. Todos los derechos reservados.</p>
        </footer>

        <!-- <script src="assets/js/main.js"></script> -->
    </body>
</html>
