<!doctype html>
<html lang="en">
    <head>
        <title>AutoPro - index</title>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
    </head>

    <body>

        <section class="mt-5 pt-5 ms-5 me-5">

            <app-header 
                textHeader='
                    <h1>Bienvenido a Nuestro Sitio</h1>
                    <p>Ofrecemos los mejores servicios para ti.</p>
                '
            />

            <div class="container mt-3">
                <div class="row">
                    <section class="col-lg-8 my-5">
                        <!-- Contenido principal aquí -->
                        <h1><u>Nuestros Servicios</u></h1>
                        <article>
                            <h3>Mantenimiento por Kilometraje</h3>
                            <p>Asegúrate de que tu vehículo rinda al máximo con nuestros servicios especializados para cada etapa del kilometraje. ¡Confía en los expertos!</p>
                        </article>
                        <article>
                            <h3>Lubricación</h3>
                            <p>Cambia aceites, líquidos de frenos, y refrigerantes con los mejores productos del mercado. Tu motor te lo agradecerá.</p>
                        </article>
                    </section>
        
                    <aside class="col-lg-4 bg-light p-3">
                        <h2>Promociones y Consejos</h2>
                        <ul>
                            <li><strong>Descuento:</strong> 10% en cambios de aceite este mes.</li>
                            <li><strong>Tips:</strong> 
                                <ol>
                                    <li><strong>Evita problemas futuros:</strong> Realiza un chequeo general cada 10,000 km para prevenir fallas inesperadas.</li>
                                    <li><strong>Filtro de aire:</strong> Cambiarlo regularmente mejora el rendimiento del motor y reduce el consumo de combustible.</li>
                                    <li><strong>Presión de neumáticos:</strong> Verifica la presión cada mes para garantizar seguridad y ahorrar combustible.</li>
                                </ol>
                            </li>
                            <li><strong>¿Sabías que?</strong> Una buena alineación prolonga la vida de tus neumáticos.</li>
                        </ul>
                    </aside>
                    
                </div>
            </div>
        </section>

    </body>
</html>
